<footer class="footer">
	<small>
		<%= link_to "Rails Tutorial", 'http://railstutorial.org' %>
	</small>

		<nav>
				<ul>
					<li><%= link_to "facebook", 'http://facebook.com' %> </li>
					<li><%=link_to "youtube", 'http://youtube.com' %></li>
					<li><%= link_to "Login", login_path %></li>
					<li><%= link_to "Home", root_path %></li>	
		</nav>
</footer>